<div class="view slideRight">
    <div class="container">
        <header>
            <h2>About</h2>
        </header>
        <br />
        <div style="font-size:16pt;" class="row span12">
           <div>Customer Manager facilitates the tracking and management of numerous customer orders in multi-service, multi-vendor environments, provides customer service with tools for effective customer interactions.<br/><br/>
           Our Customer Order Management functionality perfectly meets the needs of both retail and wholesale Communications Service Providers.
            
           </div><br/><br/>
           <span style="font-size:14pt;">Email us @ 
           <span style="font-size:18pt;color:#81F7F3;">baghel.saket08@gmail.com</span>
           </span> 
           
         </div>          
    </div>
</div>